.table__item {
    cursor: pointer;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    border: 2px solid #2A284F;
}

.table__item:hover {
    background-color: #2A284F;
    color: #FFCA05;
}

.item__table_cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item__table_cell input {
    margin-bottom: 0;
}

.item__table_cell:first-of-type {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.item__table_cell:last-of-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.item__table_cell:nth-of-type(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.item__table_cell-name {
    width: 200px;
}

.item__table_cell img {
    width: 150px;
    border-radius: 50%;
}

.item__table_cell-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.item__table_cell-wrapper .item__table_cell {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.item__table_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.trashbox,
.pencil__edit {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.trashbox g {
    fill: #9f1515;
}

.pencil__edit g {
    fill: #FFCA05;
}