.table__item {
    display: flex;
    margin: 10px 0px;
}

.item__table_cell {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item__table_cell img {
    width: 50px;
    border-radius: 50%;
}

.item__table_action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trashbox, .pencil__edit {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.trashbox g {
    fill: #c21717;
}

.pencil__edit g {
    fill: #2a284f;
}
