.container__main_page {
    width: 85%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main_page h1 {
    color: #FFCA05;
    text-shadow: 4px 1px 2px #2A284F;
}
