.container__menu {
    text-align: center;
    padding: 0px 10px;
    background-color: #42389D;
    box-shadow: 1px 0px 3px #000;
    border-right: 1px solid #000;
    width: 15%;
    min-height: 100vh;
  }
  
  .menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
  }
  
  .menu__item {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }

  .menu__item:hover {
    background-color: #362F78;
    transition: .3s;
  }
  
  .menu__link {
    color: #fff;
    text-decoration: none;
    transition: .3s;
  }
  
  