.container__good_detail {
    width: 80%;
    padding: 20px;
    margin:0 auto;
}

.container__good_detail_card {
    display: flex;
    justify-content: center;
    padding: 20px;
    outline: 2px solid #2A284F;
    box-shadow: inset 0px 0px 30px #6d6a6a;
    background-color: #fff;
}

.container__good_detail_form {
    padding: 20px;
    margin: 20px;
}

.container__good_detail_form input{
    display: block;
    height: 10%;
    width: 100%;
    margin-top:5px;
    margin-bottom:20px;
    padding: 5px;
}

.container__good_detail_form textarea {
    margin-top: 5px;
    margin-bottom: 20px;
}

.container__good_info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container__good_info img {
    width: 300px;
    margin: 20px;
}

.container__good_info a {
    text-decoration: none;
}

