.container__goods_form_add {
    width: 85%;
    padding: 10px;
}

.goods_form_add {
    padding: 10px;
    outline: 2px solid #2A284F;
}

.goods_form_add p, input, textarea {
    margin-bottom: 5px;
}

.goods_form_add input {
    height: 30px;
}

.goods_form_add_buttons_block {
    margin: 20px 0px;
}
