.container__users_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container__users_form input {
    border: none;
    outline: none;
    padding: 10px;
    height: 30px;
    border-radius: 3px;
    background-color: #37355f;
    color: #FFCA05;
    margin-bottom: 0;
}

.container__users_form input::-webkit-input-placeholder {
    color: #FFCA05;
}

.container__users_form input::-moz-placeholder {
    color: #FFCA05;
}

.container__users_form input:-ms-input-placeholder {
    color: #FFCA05;
}

.container__users_form input::-ms-input-placeholder {
    color: #FFCA05;
}

.container__users_form input::placeholder {
    color: #FFCA05;
}

.container__users_form input:focus-visible {
    outline: 2px solid #FFCA05;
}

.users__table {
    outline: 2px solid #2A284F;
}

.table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.table__content{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.table__header .table__cell {
    text-align: center;
}

.table__cell {
    padding: 10px;
    width: 100%;
    background-color: #2A284F;
    color: #FFCA05;
}

.table__cell:hover {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 30px #1c1b34;
    box-shadow: inset 0px 0px 30px #1c1b34;
}