.main__layout {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    background: -webkit-linear-gradient(90deg, #413f80,#4d6294,#5a83a0);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #413f80,#4d6294,#5a83a0);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}