.container__user_detail {
    width: 85%;
    padding: 10px;
}

.container__user_detail_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 3px solid #2A284F;
    padding: 10px;
}

.container__user_info {
    padding: 10px;
    margin: 15px;
}

.container__user_info a {
    display: inline;
}

.container__user_info img {
    display: block;
    width: 170px;
    margin: 15px auto;
    border-radius: 50%;
    outline: 3px solid #2A284F;
}

.container__user_info h2  {
    margin-bottom: 50px;
}

.container__user_detail_form {
    padding: 10px;
    margin: 15px;
}

.user_detail_form {
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.user_detail_form input {
    margin-bottom: 5px;
    height: 30px;
}

.user_detail_form p {
    margin-bottom: 5px;
}

.user_detail_form-left-side, .user_detail_form-right-side {
    padding: 10px;
    margin: 15px;
}