.good__card {
  cursor: pointer;
  width: 30%;
  outline: 2px solid #c4c4c4;
  background: #fff;
  box-shadow: inset 0px 0px 40px #6d6a6a;
  margin: 10px;
  text-align: center;
  transition: .2s;
}

.good__card:hover {
  transform: scale(1.03);
  transition: .2s;
}

.title__container {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.title__container input {
  cursor: pointer;
  width: 14px;
}
.good__card a {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
}

.del {
  outline:3px solid #ed1212;
}

.good__card h3 {
  margin: 10px;
}

.good__card h4 {
  margin: 10px;
}

.good__card p {
  margin: 10px;
}

.good__card img {
  width: 150px;
}