.container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
}

.card {
  cursor: pointer;
  width: 30%;
  outline: 2px solid #c4c4c4;
  box-shadow: 0px 0px 10px #c2c2c2;
  margin: 10px;
  padding: 5px;
  text-align: center;
  transition: .3s;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.card a {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
}

.card__del_block {
  margin: 10px;
}

.card__del_block button {
  padding: 5px;
  margin: 5px;
}

.del {
  outline:3px solid #ed1212;
}

.card h3 {
  margin: 10px;
}

.card h4 {
  margin: 10px;
}

.card p {
  margin: 10px;
}

.card:hover {
  transition: .3s;
  transform: scale(1.02);
}

.card img {
  width: 150px;
}