* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  cursor: pointer;
}

button {
  border:none;
  margin:5px;
  padding: 7px;
  border-radius: 5px;
  background-color: #2A284F;
  height: 30px;
  color: #FFCA05;
}

button:hover {
  color:#fff;
}