.container__goods {
    width: 85%;
}

.container__goods h2 {
    text-align: center;
}

.container__goods_form {
    text-align: end;
    margin: 25px;
}

.container__goods_form input {
    height: 30px;
    border-radius: 3px;
    background-color: #37355f;
    color: #FFCA05;
}

.container__goods_form input::placeholder {
    color: #FFCA05;
}

.container__goods_form input:focus-visible {
    outline:2px solid #FFCA05;
}