.container__goods {
    padding: 20px;
}

.container__goods_form {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}

.container__goods_form input {
    border: none;
    outline: none;
    padding: 10px;
    height: 30px;
    border-radius: 3px;
    background-color: #37355f;
    color: #FFCA05;
    margin-bottom: 0;
}

.container__goods_form input::-webkit-input-placeholder {
    color: #FFCA05;
}

.container__goods_form input::-moz-placeholder {
    color: #FFCA05;
}

.container__goods_form input:-ms-input-placeholder {
    color: #FFCA05;
}

.container__goods_form input::-ms-input-placeholder {
    color: #FFCA05;
}

.container__goods_form input::placeholder {
    color: #FFCA05;
}

.container__goods_form input:focus-visible {
    outline: 2px solid #FFCA05;
}

.container__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}